@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik.ttf') format('truetype');
}

* { box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font: 400 normal 18px 'Rubik', sans-serif;
}

.nav-logo {
  height: 50px;
}

main {
  padding: 10px;
}

.table-actions {
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  display: flex;

  a {
    &:first-child {
      margin: 0 10px 0 0;
    }
  }
}